<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please Correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label>Title :</label>
            <input type="text" :disabled="buttonStatus == 'upload'" name="title" ref="title" v-model="title" ><br>
            <label>Description :</label>
            <textarea name="description" :disabled="buttonStatus == 'upload'" ref="description" v-model="description" ></textarea><br>
            <div v-if="buttonStatus =='submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateBlog(idEdit)">
                <input type="button" value="CANCEL" @click="cancelEdit" style="margin-top: 5px;">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo" ref="photo">
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadPhoto)">
                <input type="button" value="CANCEL" @click="cancelEdit" style="margin-top: 5px;">
            </div>
        </form>
        <br>
        <br>
        <table border="1">
            <tr v-for="blog of blogs">
                <td><img :src="photoDomain + blog.photo" width="100px"></td>
                <td>
                    <b>Title : {{ blog.title }}</b><br>
                    <b>Description : {{ blog.description }}</b><br>
                </td>
                <td>
                    <button @click="editBlog(blog)">Edit</button>
                    <button @click="hapusBlog(blog.id)">Hapus</button>
                    <button @click="uploadPhoto(blog)">Upload Foto</button>
                </td>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                title: '',
                description: '',
                errors: [],
                blogs: [],
                photoDomain: 'http://demo-api-vue.sanbercloud.com',
                buttonStatus:'submit',
                idEdit : null,
                idUploadPhoto:null,

            },
            methods: {
                validationForm: function () {
                    this.errors = []

                    if (this.title.length < 5) {
                        this.errors.push('Title minimal 5 Karakter')
                        this.$refs.title.focus()
                    }

                    if (this.description.length < 10) {
                        this.errors.push('Description terlalu sedikit')
                        this.$refs.description.focus()
                    }
                },

                clearForm: function () {
                    this.title = ''
                    this.description = ''
                    this.buttonStatus = 'submit'
                    this.idEdit=null
                    this.idUploadPhoto=null
                },
                hapusBlog: function(id){
                    const config ={
                        method:"post",
                        url:`http://demo-api-vue.sanbercloud.com/api/blog/${id}`,
                        params:{ _method : "DELETE" }
                    }
                    axios(config)
                        .then( (response) => {
                            this.getBlogs()
                            alert(response.data.message)
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                },

                editBlog: function(blog){
                    this.title = blog.title
                    this.description = blog.description
                    this.buttonStatus = 'update'
                    this.idEdit = blog.id
                },

                cancelEdit: function(blog){
                    this.title = ''
                    this.description = ''
                    this.buttonStatus = 'submit'
                    this.idEdit = null
                },

                updateBlog: function(id){
                    this.validationForm()

                    if(this.errors.length === 0){
                        let formData = new FormData()
                        formData.append('title',this.title)
                        formData.append('description',this.description)
                        
                        let config = {
                            method :"post",
                            url :`http://demo-api-vue.sanbercloud.com/api/blog/${id}`,
                            params : {_method : 'PUT'},
                            data : formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getBlogs()

                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    }
                },

                uploadPhoto: function(blog){
                    this.title = blog.title
                    this.description = blog.description
                    this.buttonStatus = 'upload'
                    this.idUploadPhoto = blog.id
                },

                submitPhoto : function(id){
                    let file = this.$refs.photo.files[0]
                    
                    let formData = new FormData()
                        formData.append('photo',file)
                        
                        let config = {
                            method :"post",
                            url :`http://demo-api-vue.sanbercloud.com/api/blog/${id}/upload-photo`,
                            data : formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getBlogs()

                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            })

                },

                submitForm: function () {
                    this.validationForm()

                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('title', this.title)
                        formData.append('description', this.description)

                        const config = {
                            method: "post",
                            url: "http://demo-api-vue.sanbercloud.com/api/blog",
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getBlogs()
                                alert(response.data.message)
                            })
                            .catch((error) => {

                            })
                        alert('Data Benar')
                    }
                },
                getBlogs: function () {
                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/blog"
                    }

                    axios(config)
                        .then((response) => {
                            this.blogs = response.data.blogs
                            console.log(this.blogs)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                }
            },

            created() {
                this.getBlogs()
            }
        })
    </script>
</body>

</html>