<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please Correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label>Name :</label>
            <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name"><br>
            <label>No Handphone :</label>
            <input type="text" :disabled="buttonStatus == 'upload'" name="no_hp" ref="no_hp" v-model="no_hp"><br>
            <label>Address :</label>
            <textarea name="address" :disabled="buttonStatus == 'upload'" ref="address"
                v-model="address"></textarea><br>
            <div v-if="buttonStatus =='submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateBlog(idEdit)">
                <input type="button" value="CANCEL" @click="cancelEdit" style="margin-top: 5px;">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo_profile" ref="photo_profile">
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadBlog)">
                <input type="button" value="CANCEL" @click="cancelEdit" style="margin-top: 5px;">
            </div>
        </form>
        <br>
        <br>
        <table border="1">
            <members-component v-for="member in members" :member="member"></members-component>
            <!-- <tr v-for="member of members"> -->
                <!-- <td><img :src="photoDomain + member.photo_profile" width="100px"></td>
                <td>
                    <b>name : {{ member.name }}</b><br>
                    <b>No Handphone : {{ member.no_hp }}</b><br>
                    <b>address : {{ member.address }}</b><br>
                </td> -->
                <!-- <td>
                    <button @click="editBlog(member)">Edit</button>
                    <button @click="hapusBlog(member.id)">Hapus</button>
                    <button @click="uploadPhoto(member)">Upload Foto</button>
                </td> -->
            <!-- </tr> -->
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var MembersComponent = {
            template :`
                <tr>
                    <td>
                        <b>Name : {{member.name}}</b><br>
                        <b>No Handphone : {{member.no_hp}}</b><br>
                        <b>address : {{member.address}}</b><br>
                    </td>
                </tr>    
            `,
            props : ['member']
        },



        const vm = new Vue({
            el: '#app',
            components:{
                'members-component' : MembersComponent
            },
            data: {
                name: '',
                address: '',
                no_hp: '',
                errors: [],
                members: [],
                photoDomain: 'http://demo-api-vue.sanbercloud.com',
                buttonStatus: 'submit',
                idEdit: null,
                idUploadPhoto: null,

            },
            methods: {
                validationForm: function () {
                    this.errors = []

                    if (this.name.length < 4) {
                        this.errors.push('name minimal 5 Karakter')
                        this.$refs.name.focus()
                    }

                    if (this.address.length < 5) {
                        this.errors.push('address terlalu sedikit')
                        this.$refs.address.focus()
                    }
                },

                clearForm: function () {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.idEdit = null
                    this.idUploadBlog = null
                },
                hapusBlog: function (id) {
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {
                            _method: "DELETE"
                        }
                    }
                    axios(config)
                        .then((response) => {
                            this.getBlogs()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

                editBlog: function (member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idEdit = member.id
                },

                cancelEdit: function (member) {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.idEdit = null
                },

                updateBlog: function (id) {
                    this.validationForm()

                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        let config = {
                            method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: {
                                _method: 'PUT'
                            },
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getBlogs()

                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    }
                },

                uploadPhoto: function (member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadPhoto = member.id
                },

                submitPhoto: function () {
                    let file = this.$refs.photo_profile.files[0]

                    let formData = new FormData()
                    formData.append('photo_profile', this.file)

                    let config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }

                    axios(config)
                        .then((response) => {
                            this.clearForm()
                            this.getBlogs()

                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })

                },

                submitForm: function () {
                    this.validationForm()

                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('no_hp', this.no_hp)
                        formData.append('address', this.address)

                        const config = {
                            method: "post",
                            url: "http://demo-api-vue.sanbercloud.com/api/member",
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getBlogs()
                                alert(response.data.message)
                            })
                            .catch((error) => {

                            })
                        alert('Data Benar')
                    }
                },

                getBlogs: function () {
                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                        .then((response) => {
                            this.members = response.data.members
                            console.log(this.members)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                }
            },

            created() {
                this.getBlogs()
            }
        })
    </script>
</body>

</html>