<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            <input type="text" v-model:value="caption.text" placeholder="Caption Text">
            <br>
            Berikan Caption pada atribut :
            <select v-model:value="caption.attr">
                <option>title</option>
                <option>alt</option>
            </select>
        </div>
        <img v-bind:src="url" v-bind:[caption.attr]="caption.text" width="50px"/>
        <p>Caption diberikan pada atribut <code>{{ caption.attr }}</code> dengan isi "{{caption.text}}"</p>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                url:"Daur.png",
                caption:{
                    attr:"tittle",
                    text:"Hello ini adalah caption"
                }
            }
        })
    </script>
</body>

</html>