<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            <input type="text" v-model:value="newdata">
            <button @click="tambahdata">Add</button>
        </div>
        <div>
            <ul>
                <li v-for="item in todolists">
                    <s v-if="item.done">{{item.task}}</s>
                    <b v-else>{{item.task}}</b>
                </li>
            </ul>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                newdata: "",
                todolists: [{
                        'done': true,
                        task: 'Belajar Programming'
                    },
                    {
                        'done': false,
                        task: 'Belajar Menghitung'
                    },
                    {
                        'done': false,
                        task: 'Belajar Berlari'
                    }
                ]
            },

            methods:{
                tambahdata:function(){
                    this.todolists.push({'done':false,'task':this.newdata});
                    this.newdata="";
                }
            }
        })
    </script>
</body>

</html>