<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        Qty : {{qty}}
        <input type="number" v-model:value="qty" min="1" max="10">
        Total : Rp.{{qty*price}}
        <hr>
        <label><input type="checkbox" v-model:value="showBonus" >Show Bonus</label>
        <div v-if="showBonus">
            <p v-if="qty >= 10">Maaf kamu hanya boleh beli 10</p>
            <p v-else-if="qty >= 5">Borong Nih!</p>
            <p v-else-if="qty >= 2">Selamat kamu dapat bonus</p>
            <p v-else>Beli lebih banyak lagi!</p>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                    showBonus:true,
                    price:14000,
                    qty:1,
                }
        })
    </script>
</body>

</html>