<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
        <div id="app">
            <input v-model="lists">
            <br>
            <br>
            <ul>
                <li v-for="item in result">
                    {{ item.buku }}
                </li>
        </ul>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
		new Vue({
			el: "#app",
			data: {
				lists:"",
				books:[
					{ buku: "Kalkulus Dasar"},
					{ buku: "Fisika Dasar"},
					{ buku: "Aljabar Linier Elementer"},
					{ buku: "Aljabar Abstrak"},
					{ buku: "Algoritma Pemrograman"}
				],
				result: []
			},
			watch: {
				lists: function () {
					var vm = this
					setTimeout(function(){
						vm.result = vm.books.filter(function (item){
							return item.buku.toLowerCase().indexOf(vm.lists.toLowerCase()) !== -1
						})
					})
				}
			},
		});
	</script>
</body>

</html>