<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model:value="newData">
        <button @click="tambahdata" v-if="enable">add</button>
        <button @click="update" v-else>update</button>
        <ul>
            <li v-for="item in listname">{{item.siswa}} <button @click="editdata">EDIT</button> || <button @click="hapusdata">DELETE</button></li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                newData:"",
                enable:true,
                listname: [{
                        siswa: 'Muhammad Iqbal Mubarok'
                    },
                    {
                        siswa: 'Faqih Muhammad'
                    },
                    {
                        siswa: 'Fahmi Rachmadian'
                    }
                ]
            },
            methods: {
                tambahdata: function () {
                    this.listname.push({
                        'siswa': this.newData
                    });
                    this.newData = "";
                },
                hapusdata:function(){
                    var alert = confirm("Apakah yakin akan menghapus?");
                    if(alert){
                        this.index = this.listname.indexOf();
                        this.listname.splice(this.index);
                    }
                },
                editdata:function(){
                    enable:false;
                }
            }
        });
    </script>
</body>

</html>